<div class="wrapper-container">
  <img src="assets/images/teleSport.png" alt="TeleSport" class="logo">
  <h2>Olympic games app</h2>
</div>
<hr/>
<div>
  <div>
    <div class="center">
      <div>{{ titlePage }}</div>
    </div>
    <div class="split">
      <div>
        <p>Number of countries</p>
        <p>{{ totalCountries }}</p>
      </div>
      <div>
        <p>Number of JOs</p>
        <p>{{ totalJOs }}</p>
      </div>
    </div>
  </div>
  <app-bar-chart
    *ngIf="countries.length > 0"
    [labels]="countries"
    [values]="sumOfAllMedalsYears">
  </app-bar-chart>
</div>
