.wrapper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-message {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  border-radius: 8px;
  color: white;
  background-color: grey;
  padding: 20px;
  margin: auto 25%;
}