
.wrapper-container {
    display: flex;
    justify-content: center;
}

.container {
    width: 50%;
    h2{
        text-align: center;
        color: gray;
    }
}
.btnBack{
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    &:hover {
        background-color: lightgray;
        color: black;
    }
}
.loader {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .container {
        width: 95%;
    }
}
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}