<div>
  <div>
    <app-header
      [title]="titlePage"
      [headers]="headerData"
      [imageSrc]="countryFlag"
      [imageAlt]="titlePage"
      imageClass="country-flag">
    </app-header>
  </div>
  <div class="chart-container wrapper-container">
    <div class="container">
        <app-bar-chart
          *ngIf="years.length > 0"
          [labels]="years"
          [values]="medals">
        </app-bar-chart>
      <h2>Date</h2>
    </div>
  </div>
  <div class="center">
    <a class="btnBack" routerLink="/">Go back</a>
  </div>
</div>
