#BarChart{
    width: 70%;
    margin: 0 auto;
}
@media (max-width: 1024px) {
  #BarChart{
        width: 80%;
        margin-top: 10%;
    }
}
@media(max-width: 767px){
    #BarChart{
        width: 90%;
        margin-top: 10%;
    }
}